/* Layout Container */
.layout {
  display: flex;
  min-height: 100vh;
}

/* Main Content */
.main {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 240px;
}

.mainCollapsed {
  margin-left: 60px; /* Adjusted to match the collapsed sidebar width */
}
